/* stylelint-disable value-keyword-case */
@import 'https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital@0;1&family=Montserrat:wght@500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@400;500;600;700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap';

.site-basic {
  --font-family: 'Open Sans', Helvetica, Verdana, Tahoma, sans-serif;
  --heading-font-family: 'Open Sans', Helvetica, Verdana, Tahoma, sans-serif;
}

.site-financial {
  --font-family: 'Source Sans 3', Helvetica, Arial, sans-serif;
  --heading-font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  --serif-font-family: 'Libre Baskerville', Georgia, serif;
}

.site-services {
  --font-family: 'Epilogue', Helvetica, Arial, sans-serif;
  --heading-font-family: 'Epilogue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family, var(--font-family));
}
